.product-card{
    width: 36vw;
    padding: 8px;
    text-align: center;
}

.product-card__wrapper p{
    margin-bottom: 10px;
}

.product-card__wrapper a{
    text-decoration: none;
    background-color: rgb(248, 89, 116);
    border-radius: 16px;
    padding: 8px 40px;
    color: white;
    font-size: 0.7rem;
}