* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
 }

h3{
    font-family: Arial, sans-serif;
    font-size: 48px;
    background-color: aquamarine;
}

p{
    color: #333;
    font-size: 20px;
}

li{
    color: #777;
    font-size: 20px;
}

.listoverline{
    text-decoration: overline;
}

.listlinethrough{
    text-decoration: line-through;
    text-align: center;
}

.listunderline{
    text-decoration: underline;
    text-align: right;
}