h1{
    font-size: 48px;
    font-family: Tahoma, sans-serif;
    color:blanchedalmond;
    text-shadow: lightsalmon 2px 5px;
    background-color: teal;
}

.p-fontlucinda{
    font-family: 'Lucida Sans Unicode', sans-serif;
    word-spacing: 20px;
    text-indent: 40px;
}

p{
    word-spacing: -.2ch ;
    text-indent: 60px;
}

h2{
    text-shadow: grey 1px 3px;
}

.p-lightbg{
    background-color: rgb(160, 185, 185);
    line-height: 24px;
}

.p-darkbg{
    background-color: rgb(43, 65, 65);
    color:blanchedalmond;
    line-height: 36px;
}

