header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  2vw 50px 2vw;
   
}

header div {
    display: flex;
    align-items: center;
    gap: 2vw;
    
}

header div nav a{
    margin-right: 4vw;
    color: #222222;
    text-decoration: none;
}