.product-card{
    position: relative;
}

.product-card h4{
    color: #3E3F43;
    position: absolute;
    top: 20px;
    left: 20px;
}

.product-card button{
    position: absolute;
    bottom: 24px;
    right: 20px;
}