*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-color: linen;
}

h1{
    background-color: lightblue;
}

article{
    background-image: url(./img/sky_img.avif);
    
}