*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery{
    width: 40%;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "pics 1to9";
}

.pic1{
    grid-area: "pics 1to9";
}
.pic2{
    grid-column: "pics 1to9";
}
.pic9{
    grid-column: "pics 1to9";
}