body{
    background-color:rgb(201, 211, 208);
}
header{
    background-color:rgb(103, 166, 166);
}

header nav ul{
    list-style: none;
}

header nav ul li a{
    color: aliceblue;
}

h1{
    color: rgb(4, 70, 70);
}

p{
    color:rgb(4, 70, 70) ;
}

p span{
    color: brown;
}
p a{
    text-decoration: none;
    color: rgb(49, 169, 169);
}